<div class="relative w-full h-screen bg-gray-800 flex flex-col items-center justify-center" id="about">
  <h2 class="text-4xl font-bold text-indigo-500 mb-6">About Me</h2>
      <span class="box w-9/12 transition-all duration-200 ease-in-out text-sm md:text-base lg:text-lg font-serif   text-gray-300 rounded-lg p-6  bg-gray-800 bg-opacity-50">
        Hi there, I am <span class="text-indigo-500 font-semibold">Sagar Malla</span>. I am a passionate and dedicated 
        <span class="text-indigo-500 font-semibold">Front-End Developer</span> with a Bachelor's degree in Information Technology 
        from Aryan School of Engineering. With a strong foundation in both theoretical knowledge and practical skills, 
        I specialize in the <span class="text-indigo-500 font-semibold">Angular framework</span>, striving to deliver high-quality 
        solutions that prioritize <span class="text-indigo-500 font-semibold">performance</span>,  
        <span class="text-indigo-500 font-semibold">accessibility</span>,  
        <span class="text-indigo-500 font-semibold">user experience</span> and and building scalable applications that delight users.
      </span>
  </div>
  
  <app-goal></app-goal>