<div class="relative w-full h-screen bg-gray-900 flex flex-col items-center justify-center" id="about">
    <h2 class="text-4xl font-bold text-indigo-500 mb-6">Vision</h2>
              <span class="box w-9/12 transition-all duration-200 ease-in-out text-sm md:text-base lg:text-lg font-serif   text-gray-300 rounded-lg p-6  bg-gray-900 bg-opacity-50">
                     "As a passionate frontend developer, my journey is focused on becoming a full-stack software developer capable of building seamless solutions across platforms. I envision a future where web and mobile applications are powered by AI, enabling smarter interactions and personalized user experiences. My goal is to integrate machine learning models, natural language processing, and AI-powered analytics into my projects, ensuring they not only meet user needs but also anticipate them."
              </span>
               <span>
       </span>
    </div>