<div class="w-full bg-gray-700 flex   text-gray-100 py-3.5  justify-center items-center  ">
    <div class="w-5/12  flex justify-evenly ">
        <a href="#about"><div class="  px-2 py-1 hover:text-red-500 ">About</div></a>
        <a href="#skill"><div class="  px-2 py-1 hover:text-red-500 ">Skills</div></a>
        <a href="#experience"><div class="  px-2 py-1 hover:text-red-500 ">Experience</div></a>
        <a href="#contact"><div class="  px-2 py-1 hover:text-red-500 ">Contact</div></a>
    </div>
</div>
